$blue: #14181F;
$dark-blue: #0A0C10; 
$light-blue: #272A31;

$red: #B31317;
$dark-red: #F02A2F;

$white: #EDF1F7;
$dark-white: #E5E9EF;
$light-white: #F4F7FB;

$gray-1: #B5B6B8;
$gray-2: #A1A3A5;
$gray-3: #959698;