.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 36px 16px;
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.container-item-1 {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-item-2 {
    flex-grow: 5;
}

.spider {
    max-width: 130%;
    transform: translate3d(-170px, 0, 0);
}


.btn {
    display: inline-block;
    background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
    border-radius: 3px;
    padding:12px 32px;
    text-transform: uppercase;
    transform: skewX(-10deg);
    transition: .7s ease;
    position: relative;
    
        &::after {
            content: '';
            position: absolute;
            display: block;
            top: -2px;
            left: -2px;
            border-radius: 3px;
            opacity: 0;
            width: 20%;
            height: 70%;
            z-index: -1;
            border-top: 3px solid #fff;
            border-left: 3px solid #fff;
            transition: .7s ease;
            
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            bottom: -2px;
            right: -2px;
            border-radius: 3px;
            opacity: 0;
            width: 30%;
            height: 70%;
            z-index: -1;
            transition: .7s ease;
            border-bottom: 3px solid #fff;
            border-right: 3px solid #fff;
        }

        &:hover {
            transform: skewX(-10deg) scale(1.05);
            transition: .7s ease;
            &::after {
                opacity: 1;
                top: -2px;
                left: -2px;
            }
            &::before {
                opacity: 1;
                bottom: -2px;
                right: -2px;
            }
        }
}

.btn-secondary {
    display: inline-block;
    background: transparent;
    border-radius: 3px;
    padding:10px 32px;
    text-transform: uppercase;
    transform: skewX(-10deg);
    transition: .7s ease;
    position: relative;
    border: 2px solid $red;
    z-index: 700;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 0%;
        height: 103%;
        background: linear-gradient(225deg, #EA1D22 0%, #B31317 100%);
        z-index: -1;
        transition: .7s ease;
    }

    &:hover {
        &::after {
            width: 101%;
        }

    }
}

.btn-container {
    padding: 15px;
}

.bottom-icons {
    display: flex;
    padding-top: 15px;
}